rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if true;
    }

    match /positions/{positionId} {
      allow read, write: if true;
    }

    match /orders/{orderId} {
      allow read, write: if true;
    }

    match /tradeHistory/{historyId} {
      allow read, write: if true;
    }

    match /deposit_requests/{requestId} {
      allow read, write: if true;
    }
  }
}

